.pop-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 523px;
    height: 455px;
    outline: 2px dashed red;
    background: #c08342;
}

.pop-up--rating {
    display: none;
}
