.rating {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
}

.rating-hide {
    display: none;
}

.rating-container {
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 523px;
    height: 455px;
    border-radius: 20px;
    border: 6px solid #8A5E2E;
    background: #c08342;
    color: white;

    animation-name: show-popup;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@keyframes show-popup {
    0% {
        top: -100%;
    }
    100% {
        top: 50%;
    }
}

.rating__title {
    position: absolute;
    top: -17px;
    left: 50%;
    transform: translateX(-50%);
    width: 264px;
    height: 34px;
    border-radius: 20px;
    line-height: 34px;
    font-size: 26px;
    font-family: Arial, sans-serif;
    color: white;
    background-color: blue;
    text-align: center;

    background-image: url("../img/rating/header.png");
    background-repeat: no-repeat;
    background-position: center;
}

.rating__close {
    position: absolute;
    top: 16px;
    right: 18px;
    border-radius: 5px;
    width: 26px;
    height: 26px;
    background-color: blue;
    background-image: url("../img/rating/cross.png");
    background-repeat: no-repeat;
    background-position: center;
}

.rating__body {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);

    width: 464px;
    height: 324px;
    border-radius: 20px;
    font-family: Arial, sans-serif;
    background-color: #8C5A31;
}

.rating-header {
    padding: 32px 32px 7px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.rating-header-row {
    display: grid;
    grid-template-columns: 67px 1fr 90px;
    width: 403px;
    height: 30px;
    border-radius: 10px;
    color: white;

    background-image: url("../img/rating/table-header.png");
    background-repeat: no-repeat;
    background-position: center;
}

.rating-header-text {
    font-size: 14px;
    line-height: 30px;
}

.rating__header-place {
    text-align: center;
}

.rating__header-name {
    padding-left: 37px;
}

/* rating list */

.rating__list {
    height: 244px;
    overflow-y: auto;
    padding: 0 32px;
}

.rating__item {
    display: grid;
    grid-template-columns: 67px 30px 1fr min-content;
    justify-content: center;
    align-items: center;
    width: 403px;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: #3FA3BC;

    background-image: url("../img/rating/table-item.png");
    background-repeat: no-repeat;
    background-position: center;
}

.rating__item--friend {
    background-image: url("../img/rating/table-item-friend.png");
}


.rating__item-place {
    text-align: center;
}

.rating__item-img {
    width: 30px;
    height: 30px;
    background-color: #9D4516;
}

.rating__item-name {
    padding-left: 5px;
}

.rating__item-score {
    min-width: 80px;
}

/* ================================ */
/* ======== custom scroll ========= */
/* ================================= */
.rating__list::-webkit-scrollbar {
    width : 10px;
}

/*стиль рамки скролла */
.rating__list::-webkit-scrollbar-track {
    border : none;
}

/*стиль полоски скролла */
.rating__list::-webkit-scrollbar-thumb {
    background: blue;
    border-radius: 10px;
}
















