@import "rating.css";

@font-face {
    font-family: "a_Stamper Bold";
    src: local('a_Stamper Bold'), local('a_Stamper-Bold'),
        url("../fonts/a_Stamper Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

:root {
    --color-point-start: #c60802;
    --color-point-end: #036191;
}

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.page {
    min-height: 100%;
}

.page-body {
    min-height: 100%;
    font-size: 18px;
    font-family: 'a_Stamper Bold', Arial, Helvetica, sans-serif;
    background-color: #2c7580;
    /*user-select: none;*/
    /*color: #ccc;*/
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.game {
    position: relative;
    margin: 50px auto;
    width: 980px;
    height: 630px;
    outline: 1px solid gray;
    /*user-select: none;*/
}

.game__text-transform {
    position: absolute;
    transform-style: preserve-3d;
    perspective: 500px;
    width: min-content;
    font-size: 16px;
}

.game__text-transform p {
    line-height: 0.9;
    text-align: center;
    text-transform: uppercase;
    font-size: inherit;
}

.game__text-transform--start {
    top: 512px;
    left: 428px;
    color: var(--color-point-start);
}

.game__text-transform--end {
    top: 175px;
    left: 860px;
    color: var(--color-point-end);
}

.game__text-transform--start p {
    transform: matrix(0.72699027316319, -0.4229733726024, 1.21570020235108, 0.66822240031415, 0, 0);
}

.game__text-transform--end p {
    line-height: 0.4;
    transform: matrix(0.85913596566587, -0.47326851487507, 1.08933457037137, 0.56388309305942, 0, 0);
}

button {
    cursor: pointer;
}

.btn--action {
    background-image: url("../img/controls/active-gradient.png");
    background-repeat: repeat-x;
}

button:disabled {
    cursor: not-allowed;
}

/*безопасное скрытие элемента*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.game__background {
    position: absolute;
    width: 980px;
    height: 605px;
}

.game__btn {
    min-width: 65px;
    height: 60px;
    border-radius: 10px;
    background-color: #54B3C1;
    box-shadow: 2px 2px 2px black;
}

/* =================================*/
/* ============ controls ========== */
/* =================================*/
.game__controls {
    position: absolute;
    bottom: 18px;
    display: flex;
    gap: 0 8px;
    justify-content: center;
    align-items: center;
    padding: 0 4px;
}


/* =================================*/
/* ============ slider ============ */
/* =================================*/
.slider {
    position: relative;
    background: black;
    padding: 0 30px;
    border-radius: 10px;
}

.slider-list {
    display: flex;
    align-items: center;
    gap: 0 10px;
    max-width: 470px;
    min-height: 64px;
    overflow: hidden;
}

.slider-item {
    position: relative;
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

    width: 50px;
    height: 50px;
    background-color: #9D4516;
    border-radius: 10px;
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    cursor: pointer;
}

.slider-item--empty {
    background: gray;
    cursor: not-allowed;
}


/*.slider-item--active {*/
/*    background-image: url("../img/slider/item-active.png");*/
/*}*/

.slider-item--add::before {
    content: "";
    position: absolute;
    top: -4px;
    right: -6px;
    width: 22px;
    height: 22px;
    border: 1px solid green;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 100%;
    padding: 0 20px 0 5px;

    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    /*outline: 2px dashed red;*/
}

.slider-btn-prev {
    background-image: url("../img/slider/controll-arrow.png");
    left: 0;
}

.slider-btn-next {
    background-image: url("../img/slider/controll-arrow.png");
    right: 0;
    transform: translateY(-50%) rotate(-180deg);
}

/* ==================== */
.btn--action {
    min-width: 202px;
}

svg {
    outline: 2px dashed red;
}

.svg-path {
    position: absolute;
    top: 20px;
    left: 80px;
    z-index: 1;
}


/*path {*/
/*    animation-name: active-path;*/
/*    animation-fill-mode: forwards;*/
/*    animation-duration: 5s;*/
/*    animation-timing-function: linear;*/
/*    !*animation-iteration-count: infinite;*!*/

/*    stroke: none;*/
/*    fill: none;*/

/*    !*stroke-dasharray: 500;*!*/
/*    !*stroke-dashoffset: 500;*!*/
/*}*/

/*@keyframes active-path {*/
/*    100% {*/
/*        stroke: red;*/
/*        fill: blue;*/
/*        stroke-dashoffset: 0;*/
/*    }*/
/*}*/
